<!doctype html>
<html>
  <head>
    <link href="css/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link href="css/bootstrap-responsive.min.css" type="text/css" rel="stylesheet"/>
  </head>
  <body>
    <div class="container-fluid">
      <%= yield %>
    </div>
    <script src="/js/boostrap.min.js"></script>
    <a href="/houses">All Houses</a>
    <a href="/routes">All Paper Routes</a>
  </body>
</html>